@page
@model J85452___CO5227_Restaurant_Project.Pages.Account.AccessDeniedModel
@{
    ViewData["Title"] = "Access Denied - StoneHouse Restaurant";
}

<!-- Users who are not admins see this page when accessing admin pages -->
<main>
    <h1>Access Denied</h1>
    <div class="red">
        <img class="messageIcon" src="/img/error.png" />
        <p>The page you were trying to access is for admins only. If you're an admin, please log into an account that has been assigned as an admin.</p>
    </div>
</main>
<footer>Access Denied - StoneHouse Restaurant</footer>