@page
@model J85452___CO5227_Restaurant_Project.Pages.Shared.LoginModel
@{
    ViewData["Title"] = "Login - StoneHouse Restaurant";
}

<!-- This page will allow admins to log in -->
<main>
    <h1>Login</h1>

    <!-- If the login attempt fails, the divider within this if statements appears -->
    <!-- Code adapted from StackOverflow (Isma, 2017) -->
    @if (!ModelState.IsValid && ModelState["BadLoginError"].Errors.Count > 0)
    {
        <div class="red">
            <img class="messageIcon" src="/img/error.png" />
            <p>Login failed. Please ensure you have entered the correct email address and password</p>
        </div> 
    }
    <!-- End of adapted code -->

    <form method="post">
        <p>Please log in to continue. No account? <a asp-page="/Account/Register">Register</a></p>
    <div>
        <label asp-for="Input.Email"></label>
        <input asp-for="Input.Email" />
        <span asp-validation-for="Input.Email"></span>
    </div>
    <div>
        <label asp-for="Input.Password"></label>
        <input asp-for="Input.Password" />
        <span asp-validation-for="Input.Password"></span>
    </div>
    <button type="submit">Login</button>
    </form>
</main>
<footer>Login - StoneHouse Restaurant</footer>