@page
@model J85452___CO5227_Restaurant_Project.Pages.LogoutModel
@{
    ViewData["Title"] = "Logout - StoneHouse Restaurant";
}

<!-- This pages houses the logout functionality -->
<main>
    <h1>Logging out...</h1>
</main>
<footer>Home - StoneHouse Restaurant</footer>