@page "{id:int}"
@model J85452___CO5227_Restaurant_Project.Pages.EditOfferModel
@{
    ViewData["Title"] = "Admin (Offer) - StoneHouse Restaurant";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!-- This page allows the editing of the offers -->
<main>
    <h1>Edit Offer</h1>

    <!-- If a user enters invalid data, the divider within this if statements appears -->
    <!-- Code adapted from StackOverflow (Isma, 2017) -->
    @if (!ModelState.IsValid && ModelState["EditItemError"].Errors.Count > 0)
    {
        <div class="red">
            <img class="messageIcon" src="/img/error.png" />
            <p>Unable to edit offer because some of the details you entered are invalid. All fields must also be filled in</p>
        </div> 
    }
    <!-- End of adapted code -->

    <a asp-page="/Admin/AdminOffer">Back</a>
    <form method="post">
        <div><input asp-for="Offer.OfferID" type="hidden" /></div>
        <div>Name: <input asp-for="Offer.OfferName" /></div>
        <div>Description: <input asp-for="Offer.OfferDescription" /></div>
        <div>Start Date: <input asp-for="Offer.OfferStart" /></div>
        <div>Expiry Date: <input asp-for="Offer.OfferExpiry" /></div>
        <div>Reduction Percentage: <input asp-for="Offer.ReductionPercentage" /></div>
        <input class="submitButton" type="submit" asp-page-handler="Save" />
    </form>
</main>
<footer>Admin - StoneHouse Restaurant</footer>