@page "{id:int}"
@model J85452___CO5227_Restaurant_Project.Pages.EditMenuModel
@{
    ViewData["Title"] = "Admin (Menu) - StoneHouse Restaurant";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!-- This page allows the editing of the menu -->
<main>
    <h1>Edit Menu Item</h1>

    <!-- If a user enters invalid data, the divider within this if statements appears -->
    <!-- Code adapted from StackOverflow (Isma, 2017) -->
    @if (!ModelState.IsValid && ModelState["EditItemError"].Errors.Count > 0)
    {
        <div class="red">
            <img class="messageIcon" src="/img/error.png" />
            <p>Unable to edit menu because some of the details you entered are invalid. All fields must also be filled in</p>
        </div> 
    }
    <!-- End of adapted code -->

    <a asp-page="/Admin/AdminMenu">Back</a>
    <form method="post" enctype="multipart/form-data">
        <div><input asp-for="Menu.ItemID" type="hidden" /></div>
        <div>Name: <input asp-for="Menu.ItemName" /></div>
        <div>Description: <input asp-for="Menu.ItemDescription" /></div>
        <div>Number of items Available: <input asp-for="Menu.NumOfItemsAvailable" /></div>
        <div>Price: <input asp-for="Menu.ItemPrice" /></div>
        <div>Upload Image: <input type="file" id="imgFile" name="imgFile" multiple="multiple"/></div>
        <input class="submitButton" type="submit" asp-page-handler="Save" />
    </form>
</main>
<footer>Admin - StoneHouse Restaurant</footer>