/* This CSS file simplifies the styling and reduces the number of duplicate rules */
/* Styling for both themes */

/* Style the navigation menu (https://www.w3schools.com/howto/howto_js_mobile_navbar.asp) */
.topnav {
    overflow: hidden;
    position: relative;
}

    /* Hide the links inside the navigation menu (except for logo/home) */
    .topnav #myLinks {
        margin-top: 5px;
        display: none;
    }

    /* Style navigation menu links */
    .topnav a, .accountSection {
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
        display: block;
    }

        /* Style the hamburger menu */
        .topnav a.icon, .accountSection {
            display: block;
            position: absolute;
            top: 0;
            /* Adapted from CSS-Tricks (Cope, 2011) */
            box-shadow: 0 0px 20px rgb(0 0 0 / 0.1);
        }

        .topnav a.icon {
            left: 0;
        }

.accountSection {
    right: 0;
}

.accountSection {
    padding: 0px;
}

    .accountSection a, .accountSection p {
        margin: 0px;
    }

    .accountSection p {
        padding: 14px;
    }

/* Style the active link (or home/logo) */
.active, .active:hover {
    color: white;
}

.active {
    text-align: center;
}

/* Global settings for all other styles (i.e. the font is always the same) */
body {
    font-family: "Arial";
    margin: 0px;
}

/* Heading level 1 */
h1 {
    font-size: 24pt;
}

/* Heading level 2 */
h2 {
    font-size: 18pt;
}

.headerLink, .headerLink:hover {
    color: #ffffff;
}

/* Main content, alert boxes and tables */
main, .purple, .red, .orange, .blue, .green, table, .redLoud, .imgSection {
    /* Adapted from W3Schools (CSS Layout - Horizontal & Vertical Align, n.d) */
    margin-left: auto;
    margin-right: auto;
    /* End of adapted code */
    max-width: 1500px;
    margin-bottom: 20px;
    margin-top: 20px;
}

/* Tables */
table {
    width: 100%;
}

/* Table items */
td {
    /* Adapted from W3Schools (CSS Layout - Horizontal & Vertical Align, n.d) */
    margin-left: auto;
    margin-right: auto;
    /* End of adapted code */
    max-width: 1500px;
    margin-bottom: 20px;
    /* border-style: solid; */
    border-width: 1px;
}

/* Bold text for table headers */
/* Adapted from W3Schools (CSS font-weight Property, n.d) */
.bold {
    font-weight: bold;
}
/* End of adapted code */

/* Contact Info */
.purple, .map {
    border-top-color: #7c0eeb;
}

/* IE Support Warning */
.redLoud {
    border-top-color: #c90000;
    color: #c90000
}

/* Error box (appears when the website runs into a problem) */
.red {
    border-top-color: #c90000;
}

/* Warning box (appears when an issue occurs but is not severe enough to prevent a user from having the best experience) */
.orange {
    border-top-color: #a69d00;
}

/* Note box (used to make useful information stand out) */
.blue {
    border-top-color: #0069e0;
}

/* Positivity box (used when displaying positive notes such as a successful login) */
.green {
    border-top-color: #00a14e;
}

/* https://codedamn.com/news/frontend/how-to-put-image-and-text-side-by-side-in-html */
.purple, .redLoud, .red, .orange, .blue, .green, .imgSection, .embed, .map, table {
    border-top-style: solid;
    border-top-width: 1em;
}

.purple, .redLoud, .red, .orange, .blue, .green, table, nav, td, main, .imgSection {
    padding: 20px;
}

.imgSection, .embed {
    border-color: #169fb1;
}

iframe {
    border: none;
    /* Adapted from HTML.Com (Wood, 2015-2020) */
    width: 100%;
    /* End of adapted code */
}

/* Google Map */
.map {
    height: 50vh;
}

/* Embedded Pages */
.embed {
    height: 70vh;
}

/* Logo image */
.logo, td {
    margin-top: 20px;
}

/* Header for the layout page (contains logo and restaurant name) */
header {
    padding: 5px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

/* Navigation bar */
nav {
    font-size: 22pt;
}

/* Footer */
footer {
    margin-top: auto;
    padding: 10px;
}

/* Buttons, images and input fields */
button, .submitButton, input, .imgFile {
    padding: 5px;
    margin: 2px;
    border-radius: 5px;
    border-style: none;
}

.topnav, .topnav #myLinks, .topnav a.icon, .accountSection, main, .purple, .red, .orange, .blue, .green, table, .redLoud, iframe, .map, .imgSection {
    border-radius: 10px;
}

main, .purple, .red, .orange, .blue, .green, table, .redLoud, iframe, .map, header, button, .submitButton, input, .imgFile, img, .imgSection {
    /* Adapted from CSS-Tricks (Cope, 2011) */
    box-shadow: 0 0px 0px rgb(0 0 0 / 0.1);
    /* End of adapted code */
}

table, td, nav, footer {
    text-align: center;
}

td {
    border-style: solid;
    border-width: 1px;
}

.block {
    background-color: red;
    height: 100px;
    text-align: center;
    font-size: 18pt;
    background: #ffffff;
    padding: 10px;
}

/* size of images */
img {
    border-radius: 10px;
}

/* Message Icons */
.messageIcon {
    height: 50px;
    width: auto;
    /* Remove shadow. Adapted from CSS-Tricks (Cope, 2011) */
    box-shadow: 0 0px 0px rgb(0 0 0 / 0.1);
    /* End of adapted code */
}

/* Mobile (https://www.smashingmagazine.com/2010/07/how-to-use-css3-media-queries-to-create-a-mobile-version-of-your-website/) */
@media only screen and (max-device-width: 560px) {
    img, .slideshow-container, .text {
        width: 100%;
        height: auto;
        /* Added max width for desktop Firefox */
        max-width: 30em;
    }

    /* Align message icon to centre for mobile users */
    .messageIcon {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}

@media only screen and (min-device-width: 560px) {
    img {
        max-height: 30em;
    }

    .purple, .redLoud, .red, .orange, .blue, .green {
        display: grid;
        grid-template-columns: 70px auto;
        column-gap: 1px;
    }

    /* Align message icon to left for desktop users */
    .messageIcon {
        margin-top: auto;
        margin-bottom: auto;
    }
}

/* Defaut light theme */
/* Adapted from CSS-Tricks (Rendle, 2018) */
@media (prefers-color-scheme: light) {
    /* End of adapted code */
    body, .submitButton, button {
        background-color: #d1d1d1;
        color: #000000;
    }

    /* Main content */
    main, .topnav #myLinks, .topnav a.icon, .accountSection {
        background-color: #e6e6e6;
    }

    /* Iframes (Google Map), static map and tables */
    .map, iframe, table, .purple, .red, .orange, .blue, .green, .redLoud, .imgSection {
        background-color: #f2f2f2;
    }

    .topnav a {
        color: #000000;
    }

    .topnav .active {
        color: white;
    }
}
/* Defaut dark theme */
/* Adapted from CSS-Tricks (Rendle, 2018) */
@media (prefers-color-scheme: dark) {
    /* End of adapted code */
    body, .submitButton, button, input {
        background-color: #1c1c1c;
        color: #ffffff;
    }

    /* Main content */
    main, .topnav #myLinks, .topnav a.icon, .accountSection {
        background-color: #2f2f2f;
    }

    /* Iframes (Google Map), static map and tables */
    .map, iframe, table, .red, .purple, .orange, .blue, .green, .redLoud, .imgSection {
        background-color: #424242;
    }

    .topnav a {
        color: #ffffff;
    }
}

/* Specific to StoneHouse */
/* Header for the layout page (contains logo and restaurant name) */
header, .submitButton:active, button:active, .submitButton:hover, button:hover {
    background-color: #ad6500;
}

/* Links */
a, a:hover {
    color: #ad6500;
}

/* Defaut light theme */
/* Adapted from CSS-Tricks (Rendle, 2018) */
@media (prefers-color-scheme: light) {

    /* Buttons (when hovering the mouse cursor over them) */
    .submitButton:hover, button:hover {
        color: #ffffff;
    }
}

/* Defaut dark theme */
/* Adapted from CSS-Tricks (Rendle, 2018) */
@media (prefers-color-scheme: dark) {
    /* Links */
    a, a:hover {
        color: #ad9f8b;
    }
}
