@page
@model J85452___CO5227_Restaurant_Project.Pages.OfflineModel
@{
    ViewData["Title"] = "Admin (Menu) - StoneHouse Restaurant";
}

<!-- This page displays a list of menu items (updating this will be included in the future) -->
<main>
    <h1>Offline</h1>
    <div class="red">
        <img class="messageIcon" src="/img/error.png" />
        <p>You're not currently connected to a network. To access this website, please connect or reconnect to a network and then refresh this page.</p>
    </div>
</main>
<footer>Admin - StoneHouse Restaurant</footer>