@page
@model J85452___CO5227_Restaurant_Project.Pages.PurchaseConfirmedModel
@{
    ViewData["Title"] = "Purchase Confirmed - StoneHouse Restaurant";
}

<!-- This page displays a confirmation of users' purchases -->
<main>
    <h1>Purchase Confirmed</h1>
    <div class="green">
        <img class="messageIcon" src="/img/positive.png" />
        <p>You purchase has been confirmed. An email has been sent you with a record of your purchase</p>
        <!-- JavaScript buttons that link to the homepage -->
        <!-- Adapted from W3Schools (HTML Links, n.d) -->
        <button onclick="document.location='/Index'">Return to Homepage</button>
        <!-- End of adapted code -->
    </div>
</main>
<footer>Purchase Confirmed - StoneHouse Restaurant</footer>